* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  margin: 0;
  padding: 0;
  width: 700px;
}

#container {
  height: 600px;
  padding: .25rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

table {
  border: solid 2px #eee;
  display: table;
  margin-bottom: .25rem;
  width: 100%;
}

th {
  background-color: #eee;
}

td, th {
  padding: .25rem;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
}

ul {
  list-style: none;
}

li {
  font-family: monospace;
  white-space: nowrap;
}

pre {
  font-size: 12px;
}

code {
  white-space: pre-wrap !important;
}

details {
  margin-bottom: 1rem;
}

summary {
  background-color: #87cefa;
  outline: none;
  padding: .25rem;
}

.highlight {
  background-color: yellow !important;
}

.imported-script {
  background-color: #F5F5F5;
  display: inline-block;
  margin: 0;
  outline: none;
  padding: 0;
  vertical-align: top;
}

.cache-storage {
  background-color: transparent;
}
