* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  margin: 0;
  padding: 0;
  width: 700px;
}

table {
  border: solid 2px #eee;
  table-layout: fixed;
  margin-bottom: .25rem;
  width: 100%;
}

th {
  background-color: #eee;
}

td, th {
  padding: .25rem;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  font-family: monospace;
  white-space: nowrap;
}

pre {
  font-size: .75rem;
}

code {
  white-space: pre-wrap !important;
}

details {
  margin-bottom: 1rem;
}

summary {
  background-color: #87cefa;
  outline: none;
  padding: .25rem;
}

.highlight {
  background-color: yellow !important;
}

.imported-script {
  background-color: #F5F5F5;
  display: inline-block;
  margin: 0;
  outline: none;
  padding: 0;
  vertical-align: top;
}

.cache-storage {
  background-color: transparent;
}

.preview {
  width: 1.5rem;
  max-width: 1.5rem;
  height: auto;
}

.font-size {
  font-size: .75rem;
  position: absolute;
  right: .5rem;
}

.smaller {
  font-size: .75rem;
}

.bigger {
  font-size: 1rem;
  margin-right: .25rem;
}

#font-size {
  width: 4rem;
}

#container {
  height: 600px;
  padding: .25rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
